<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/shittim/css/shittim.css" />
</head>

<body>
  <div class="main">
    {% block content %}{% endblock %}
    <div class="segmentation"></div>
    <div class="footer">数据来源：什亭之匣（https://arona.icu/）</div>
  </div>
</body>

</html>
